#main-header {
    background-color: white;
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}
#Nav {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 20px;
}
a {
    text-decoration: none;
}
header a {
    color: #666;
}
ul li{
    padding: 0;
    margin: 0 10px;
    list-style:none;
    display: inline;
    font-weight: bold;
}
body{
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    color: #666;
    background-color: white;
    line-height: 1.7em;
    font-weight: 500;
}
.en-tete {
    background-color: #70c3cc;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 50px 0;
}
.en-tete h1 {
    font-size: 40px;
}
.en-tete h2 {
    font-size: 28px;
}
.en-tete a {
    text-align: center;
    font-size: 20px;
    color: white;
}
.main-content h2 {
    color: #ff645a;
    font-size: 22px;
}
.presentation {
    display: flex;
    flex-direction: column;
}
.presentation h2 {
    text-align: center;
}
.competences {
    text-align: center;
    margin: 0px 118.203px;
    padding: 23.625px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.contenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.contenu a {
    color: #666;
}
.dev {
    order: 1;
    width: 160px;
}
.graphisme {
    order: 2;
    width: 160px;
}
.responsive {
    order: 3;
    width: 160px;
}
.article h4 a {
    color: #666;
    font-size: 18px;
}
.plus {
    text-align: center;
}
.plus a {
    text-align: center;
    color: #70c3cc;
}
.realisations {
    text-align: center;
    background-color: black;
    padding: 40px;
}
.realisations a {
    color: #70c3cc;
}
.fond-reseau {
    background-color: #ff645a;
    color: white;
    padding: 40px 40px;
}
.fond-reseau h2 {
    font-size: 22px;
}
.fond-reseau a {
    color: white;
    font-size: 22px;
}
.promo {
    text-align: center;
}
.promo a {
    font-size: 20px;
}
.footer-info {
    background-color: black;
    color: #666666;
    padding: 15px 0px 5px;
    text-align: center;
}
.footer-info a {
    color: #666;
    font-weight: bold;
}
.renseignements {
    width: 475px;
    margin: 50px;
}
.renseignements h3 {
    color: #ff645a;
    font-size: 23px;
}
.coordonnes {
    width: 475px;
    margin: 50px;
}
.coordonnes h3 {
    color: #ff645a;
    font-size: 23px;
}
.coordonnes a {
    color: #70c3cc;
    font-size: 14px;
}
.button  {
    font: "Open Sans", Arial, sans-serif;
    font-size: 20px;
    color: #7ebec5;
}
#contact-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.text-presentation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}
img {
    width: 400px;
}
.text-presentation article {
    margin-top: 75px;
    width: 400px;
}
.linkedin {
    height: 50px;
    width: 50px;
}
.cv {
    display: flex;
    flex-direction: center;
}
.cv img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 80%;
    width: 80%;
}